@tailwind base;
@tailwind components;
@tailwind utilities;

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #d6ebf7;
    background-size: cover;
    /* Adjust as needed */
    background-position: center;
    background-attachment: fixed;
}

main {
    flex: 1;
}

footer {
    flex-shrink: 1;
}

footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    border-radius: 10% 10% 0 0;
}


.smdiv {
    border-radius: 49px;
    margin: 10px;
}

.reg-style {
    background-color: #f3f4f6;
}


.imgback {
    position: relative;
    z-index: -999;
    background-image: url('images/ss2.jpg');
    background-size: 100%;
}

.dropdown {
    position: absolute;
    z-index: 10;
}


.hover-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 2;
}

.hover-content {
    font-size: 18px;
    font-weight: bold;
}

.rel-pos {
    box-sizing: inherit;
    width: 50vw;
    padding: 10px;
    position: relative;
    left: 50%;
    top: 150%;
}


.buttons-container {
    position: absolute;
    right: 2px;
    /* left: 0px; */
    bottom: 20px;
}


.pane.active {
    flex-grow: 10;
    max-width: 100%;
}

.pane.active .background {
    transform: scale(1.25, 1.25);
}

.pane.active .label {
    transform: translateX(0.5rem);
}

.pane.active .label .content>* {
    opacity: 1;
    transform: translateX(0);
}

.pane.active .shadow {
    opacity: 0.75;
    transform: translateY(0);
}

.bg-flight-booking {
    background-image: url("images/flight-booking.jpg");
}

.bg-hotel-booking {
    background-image: url('images/hotel-booking.jpg');
}

.bg-airport {
    background-image: url('images/airport.jpg');
}

.bg-ticket {
    background-image: url('images/ticket.jpg');
}

.bg-travel {
    background-image: url('images/travel.jpg');
}



.pane {
    cursor: pointer;
    duration: 700ms;
    /* ease-in-out; */
    flex-grow: 1;
    margin: 0.5rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    overflow: hidden;
    position: relative;
    border-radius: 1.5rem;
    transition: all 0.7s ease-in-out;
}

.pane .background {
    position: absolute;
    background-size: cover;
    background-position: center;
    inset: 0;
    transform: scale(1.05);
    transition: all 0.7s ease-in-out;
    z-index: 10;
}

.pane .label {
    position: absolute;
    bottom: 0;
    display: flex;
    left: 0;
    margin-bottom: 0.5rem;
    margin-left: 0.75rem;
    transition: all 0.7s ease-in-out;
    z-index: 30;
}

.pane .icon {
    background-color: #1a1a1a;
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    margin-right: 0.75rem;
    border-radius: 50%;
    width: 2.5rem;
}

.pane .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    color: white;
    white-space: pre;
}

.pane .content>* {
    opacity: 0;
    transform: translateX(2rem);
    transition: all 0.7s ease-in-out;
}

.pane .content>*:nth-child(2) {
    transition-delay: 0.1s;
}

.pane.active {
    flex-grow: 10;
    max-width: 100%;
}

.pane.active .background {
    transform: scale(1.25);
}

.pane.active .label {
    @media (min-width: 640px) {
        transform: translateX(0.5rem);
    }

    .content>* {
        opacity: 1;
        transform: translateX(0);
    }
}

.pane.active .shadow {
    opacity: 0.75;
    transform: translateY(0);
}